.note {
    height: 100vh;
    text-align: center;
    margin: auto;
}  


.notes {

	display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    height: 100%;
     .cards {
         
     }
   
      .card {
            border:  black 1px solid;
			box-sizing: border-box;
            box-shadow:  0.5rem 0.5rem 0.5rem 0.5rem rgba(0,0,0,.15);
           
           
            .delete {
                display: flex;
            }
    }
}